## 폴더 무시
스타듀밸리 맵툴/.vs/
스타듀밸리 맵툴/Debug/
스타듀밸리 맵툴/Release/
기획서/기획서 v1.3.9/~$스타듀벨리 종합 DB v1.5.xlsx
기획서/~$스타듀벨리 종합 DB v1.2.xlsx
기획서/기획서 v1.3.9/~$스타듀밸리프로젝트v1.4.0.pptx
기획서/기획서 v1.3.9/~$스타듀밸리프로젝트v1.4.3.pptx
StardewValley.zip
스타듀밸리 포토폴리오 기술문서-최종.pdf
스타듀밸리 포토폴리오 기술문서-최종.pptx
